{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | Zamówienia{% endblock %}

{% block body %}
    <h1>Twoje Zamówienia</h1>
    <table class="table table-striped">
    	<thead>
            <tr>
            	<th>Użytkownik:</th>
                <th>Wartość zamówienia:</th>
                <th>data zamówienia:</th>
                <th>Status zamówienia:</th>
            </tr>
        </thead>
        <tbody>
{% for order in orders %}
       <tr>
    		<td>{{ order.user }}</td>
    		<td>{{ order.orderValue }}</td>
    		<td>{{ order.createdAt|date("m/d/Y") }}</td>
    		<td>{% if order.getRealised == FALSE %}
    		    <span class="label label-default">Oczekujące</span>
    		    {% else %}
    		    <span class="label label-success">zrealizowane!</span>
    	        {% endif %}
    	    </td>
    	    <td><a href="{{ path('order_show', {'id': order.id}) }}" class="btn btn-xs btn-primary">Podgląd</a>
                            {% if app.user %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('order_realize', { 'id': order.id }) }}" class="btn btn-xs btn-success">Zrealizuj</a>
                                    <a href="{{ path('order_remove', {'id': order.id}) }}" class="btn btn-xs btn-danger">Usuń</a></td>
                                {% endif %}
                                    
                            {% endif %}
        </tr>

        {% else %}
        <tr>
        	<td colspan="5">Nic jeszcze nie kupiłeś! <a href="{{ path('products_list') }}" class="btn">Przejdź do produktów</a></td>
        </tr>
{% endfor %}
        </tbody>
    </table>

{% endblock body %}


